/* Globals */
h1, h2, h3, h4, h5, h6, em {
  font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body, p, a {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

a:link, a:visited, a:hover, a:active, a:focus {
  outline:0px !important;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper #bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.site-wrapper #bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: 50%;
  height: auto;
}
@media (max-width: 1199px) {
  .site-wrapper #bg img {
    width: auto;
    height: 50%;
  }
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
}

.masthead-nav {
  float: right;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-top: 15px;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* Modal */
.modal {
  color: #333;
  text-align: left;
  text-shadow: none;
}
.modal .modal-header {
  border-bottom: none;
  padding: 30px 30px 15px;
}
.modal .modal-body {
  padding: 15px 30px;
}
.modal.modal-footer {
  border-top: none;
  padding: 15px 30px 30px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
