/* Globals */
h1, h2, h3, h4, h5, h6, em {
  font-family: 'Oswald','Nunito','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

body, p, a {
  font-family: 'Nunito','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

a:link, a:visited, a:hover, a:active, a:focus {
  outline:0px !important;
}

/*
 * Base structure
 */

html,
body {
  color: #fff;
  height: 100%;
  background-color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.6);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 200px rgba(0,0,0,0.7);
  box-shadow: inset 0 0 200px rgba(0,0,0,0.7);

  background: #4a4a48 url('../images/bg-1.jpeg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-wrapper h1 {
  color: #a4c2a5;
  line-height: 1.2
}
.site-wrapper h1 span.highlight {
  color: #fff;
}

.site-wrapper .pronunciation {
  color: #a4c2a5;
}

.site-wrapper ul {
  padding-left: 15px;
  color: #a4c2a5;
}
.site-wrapper ul .app-definition {
  color: #fff;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
}

.masthead-nav {
  float: right;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-top: 15px;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* Signup form */
#mc_embed_signup .user-type-radios {
  display: none;
  float: left;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: -2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#mc_embed_signup .user-type-radios .radio-inline {
  text-align: left;
  width: 50%;
  padding: 10px 15px 10px 30px;
  float: left;
  margin: 0 !important;
}
#mc_embed_signup .user-type-radios .radio-inline:last-child {
  border-left: 1px solid #ccc;
}


/* Modal */
.modal {
  color: #333;
  text-align: left;
  text-shadow: none;
}
.modal .modal-header {
  border-bottom: none;
  padding: 30px 30px 15px;
}
.modal .modal-body {
  padding: 15px 30px;
}
.modal.modal-footer {
  border-top: none;
  padding: 15px 30px 30px;
}
.modal .close {
  font-size: 30px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);

  width: 100%;
  padding: 15px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (max-width: 767px) {
  .site-wrapper h1 {

  }
}
