/* Globals */
h1, h2, h3, h4, h5, h6, em {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
}

body, p, a {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
}

a:link, a:visited, a:hover, a:active, a:focus {
  outline:0px !important;
}

a {
  color: #333;
  display: inline-block;
  position: relative;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #333;
}

a::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  background: rgba(62, 159, 181, 0.34);
}

a:hover::before {
  background: rgba(62, 159, 181, 0.54);
}

/*
 * Base structure
 */

html,
body {
  color: #333;
  height: 100%;
  background-color: #f7f7f7;
}

/* Extra markup and styles */
.site-wrapper {
  color: #333;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  margin: 0 auto -50px;
  padding-top: 100px;
}

.hero-img-container {
  display: none;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .hero-img-container { margin-top: -40px; }
}

.slash {
  color: #aaa;
  margin: 0 10px;
}

@media (max-width: 767px) {

  .site-wrapper { padding-top: 50px; }
  .container { padding: 0 30px; }

}


/*
 * Portfolio modal
 */

/*Lazy load image fade*/
img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.modal {
  background: #fff;
  opacity: 1;
}

.fade {
  background: #fff;
  opacity: 0;
}

.modal-dialog {
  width: 100%;
  margin: 0;
}
@media (max-width: 767px) {
  margin: 0;
}

section.project {
  margin: 60px 0;
}

.gallery-container {
  /*height: 727px;*/
  height: auto;
  width: 100%;
  overflow: hidden;
}

.side-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  height: 757px;
  padding-left: 30px;
  padding-right: 60px;
}
@media (min-width: 768px) {
  .side-scroll { padding-left: calc((100% - 720px)/2); }
}
@media (min-width: 992px) {
  .side-scroll { padding-left: calc((100% - 940px)/2); }
}
@media (min-width: 1200px) {
  .side-scroll { padding-left: calc((100% - 1140px)/2); }
}


.side-scroll .portfolio-img {
  width: 375px;
  height: 667px;
  min-width: 375px;
  margin-right: 60px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

#nutmeg-mobile-onboarding .side-scroll .portfolio-img {
  width: 371px;
  height: 624px;
}

#nutmeg-mobile-onboarding .side-scroll .portfolio-img img {
  margin: -1px 0 0 -1px;
}

.side-scroll .portfolio-img.desktop {
  width: 900px;
  min-width: 900px;
}

.side-scroll .portfolio-img.sketch {
  width: 500px;
  min-width: 500px;
}

.side-scroll .portfolio-text {
  width: 200px;
  height: 360px;
  min-width: 200px;
  margin-right: 60px;
}

.portfolio-img {
  overflow-y: auto;
}

.portfolio-img img {
  width: 100%;
  height: auto;
}

.portfolio-row-spacer {
  width: 60px;
}

.portfolio-text svg.fa-long-arrow-alt-right {
  font-size: 30px;
  color: #ccc;
}

.no-scroll {
  overflow: hidden;
}
